.navbar-light .navbar-nav .nav-link {
    color: var(--secondary-color);
}

.navbar-light .navbar-nav .nav-link:hover {
    color: var(--primary-color);
}

.navbar-light .navbar-nav .nav-link.active-link {
    color: var(--primary-color);
    font-weight: bold;
}

.navbar-brand {
    font-weight: bold;
    text-transform: uppercase;
}

.navbar-collapse {
    text-align: right !important;
}

.navbar-collapse a {
    /* padding-right: 10px; */
    margin-right: 50px;
}