<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-lg-4" *ngFor="let pd of pcData">
            <div class="pcBox mt-2 mb-2">
                <img src="{{pd.image}}" alt="menu pc image">
                <h1>{{pd.name}}</h1>
                <p>{{pd.description}}</p>
                <p>{{pd.price | currency:'$ '}}</p>
                <a [routerLink]="['/menu',pd.id]" class="btn-mine">Buy now <i class="bi bi-bag"></i></a>
            </div>
        </div>
    </div>
</div>